<h1>{{{title}}}</h1>
<form>
    <h2>Фильтр</h2>
    <div>
        <h4>По поставкам</h4>
        <div>
            <label>От:<br>
                <input type="date" name="start_date" value="{{{query.start_date}}}">
            </label>
        </div>
        <div>
            <label>До:<br>
                <input type="date" name="end_date" value="{{{query.end_date}}}">
            </label>
        </div>
        <div>
            <label> поиск по продукту:<br>
                <select name="product_id">
                    <option value="">
                        Все
                    </option>
                    {{#each data.products}}
                        <option {{#if (eq @root.query.deliverys_product_id products_id)}}selected{{/if}}
                                value="{{products_id}}">
                            {{products_name}}
                        </option>
                    {{/each}}
                </select>
            </label>
        </div>
    </div>
    <div>
        <button>Найти</button>
    </div>
</form>
<h2>Поставщики</h2>
<table>
    <tr>
        <th>№</th>
        <th>Название ячейки склада</th>
        <th>Название товара</th>
        <th>Количество Товара</th>
        <th>Дата поставки</th>
    </tr>
    {{#each data.storage}}
        <tr>
            <td>{{storage_id}}
            </td>
            <td>{{storage_name}}
            </td>
            <td>{{products_name}}
            </td>
            <td>{{count_in_storage}} шт.
            </td>
            <td>{{formatDate deliverys_date_add}}
            </td>
        </tr>
    {{/each}}
</table>