<form>
    <h2>Фильтр</h2>
    <div>
        <h4>По поставкам</h4>
        <div>
            <label>От:<br>
                <input type="date" name="start_date" value="{{{query.start_date}}}">
            </label>
        </div>
        <div>
            <label>До:<br>
                <input type="date" name="end_date" value="{{{query.end_date}}}">
            </label>
        </div>
        <div>
            <label>Количество поставленных продуктов за периуд не менее заданного:<br>
                <input type="number" name="min_value" value="{{{query.min_value}}}">
            </label>
        </div>
        <div>
            <label> поиск по продукту который бы в поставке:<br>
                <select name="deliverys_product_id">
                    <option value="">
                        Все
                    </option>
                    {{#each data.products}}
                        <option {{#if (eq @root.query.deliverys_product_id products_id)}}selected{{/if}}
                                value="{{products_id}}">
                            {{products_name}}
                        </option>
                    {{/each}}
                </select>
            </label>
        </div>
    </div>
    <div>
        <h4>Другие фильтры</h4>
        <div>
            <label>Поиск по типу поставщика:<br>
                <select name="supplier_type_id">
                    <option value="">
                        Все
                    </option>
                    {{#each data.supplierTypes}}
                        <option {{#if (eq @root.query.supplier_type_id supplier_types_id)}}selected{{/if}}
                                value="{{supplier_types_id}}">
                            {{supplier_types_name}}
                        </option>
                    {{/each}}
                </select>
            </label>
        </div>

        <label>Поиск по продукту который поставляет поставщик  сейчас:<br>
            <select name="product_id">
                <option value="">
                    Все
                </option>
                {{#each data.products}}
                    <option  {{#if (eq @root.query.product_id products_id)}}selected{{/if}} value="{{products_id}}">
                        {{products_name}}
                    </option>
                {{/each}}
            </select>
        </label>
    </div>
    <div>
        <button>Найти</button>
    </div>
</form>
<h2>Поставщики</h2>
<table>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Тип</th>
        <th>количество</th>
    </tr>
    {{#each data.suppliers}}
        <tr>
            <td>{{suppliers_id}}
            </td>
            <td>{{suppliers_name}}
            </td>
            <td>{{supplier_types_name}}
            </td>
            <td>{{deliverys_sum_count}} шт.
            </td>
        </tr>
    {{/each}}
</table>