<h1>{{{title}}}</h1>

<form>
    <div>
        <h4>По поставкам</h4>
        <div>
            <label>От:<br>
                <input type="date" name="start_date" value="{{{query.start_date}}}">
            </label>
        </div>
        <div>
            <label>До:<br>
                <input type="date" name="end_date" value="{{{query.end_date}}}">
            </label>
        </div>
        <div>
            <label>Количество поставленных продуктов за периуд не менее заданного:<br>
                <input type="number" name="min_value" value="{{{query.min_value}}}">
            </label>
        </div>
        <div>
            <label> поиск по продукту который бы в поставке:<br>
                <select name="deliverys_product_id">
                    <option value="0">
                        Все
                    </option>
                    {{#each data.products}}
                        <option {{#if (eq @root.query.deliverys_product_id products_id)}}selected{{/if}}
                                value="{{products_id}}">
                            {{products_name}}
                        </option>
                    {{/each}}
                </select>
            </label>
        </div>
    </div>
    <div>
        <h4>Другие фильтры</h4>
        <div>
            <label>поиск по типу поставщика:<br>
                <select name="234">
                    <option value="324">
                        ывыа
                    </option>
                </select>
            </label>
        </div>

        <label> поиск по продукту который поставляет поставщик в целом:<br>
            <select name="product_id">
                <option value="0">
                    Все
                </option>
                {{#each data.products}}
                    <option  {{#if (eq @root.query.product_id products_id)}}selected{{/if}} value="{{products_id}}">
                        {{products_name}}
                    </option>
                {{/each}}
            </select>
        </label>
    </div>
    <div>
        <button>Найти</button>
    </div>
</form>
<div>{{json data}}</div>